@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  padding: 1.2rem;
  font-family: "Lato", sans-serif;
}

.btn {
  display: inline-block;
  letter-spacing: 0.4rem;
  padding: 1.4rem 2.4rem;
  background-color: #116f8b;
  color: #fff;
  border-radius: 100px;
  cursor: pointer;
  animation: moveUp 2s ease-in-out;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn:hover {
  transform: translateY(-0.3rem);
}

.btn:active {
  transform: translateY(0.3rem);
}

.header {
  background-image: linear-gradient(to bottom, rgba(83, 81, 81, 0.323), rgba(70, 69, 69, 0.12)), url(../../img/hero.jpg);
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo-box {
  padding: 1.6rem 0 0 1.6rem;
}
.header__title-box {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title-box > * {
  display: block;
  color: #fff;
  text-transform: uppercase;
}

.primary-header__main {
  letter-spacing: 4.2rem;
  font-weight: 500;
  font-size: 8rem;
  animation: moveInLeft 2s ease-in-out;
}

.primary-header__sub {
  letter-spacing: 2.2rem;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 5rem;
  animation: moveInRight 2s ease-in-out;
}