/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  padding: 1.2rem;
  font-family: "Lato", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.header {
  background-image: linear-gradient(to bottom, rgba(83, 81, 81, 0.323), rgba(70, 69, 69, 0.12)), url(/img/hero.jpg);
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.header__logo-box {
  padding: 1.6rem 0 0 1.6rem;
}

.primary-header {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary-header > * {
  display: block;
  color: #fff;
  text-transform: uppercase;
}

.primary-header__main {
  letter-spacing: 4.2rem;
  font-weight: 500;
  font-size: 8rem;
}

.primary-header__sub {
  letter-spacing: 1.7rem;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 4rem;
}

a {
  text-decoration: none;
}

.primary-header a {
  display: inline-block;
  padding: 1rem 2.4rem;
  background-color: #d36c3c;
  color: #000;
  border-radius: 100px;
  opacity: 80%;
  cursor: pointer;
  font-size: 1.6rem;
}